/* © Om Kanabar 2025.
See more info in the LICENSE file. */

html, body{
    background-color: #191919;
    width: 100%;
    height: 100%;
    color: rgb(232, 232, 232);
    overflow-y: auto;
}


#s1, #s2, #s3{
    transition: 0.2s ease;
    overflow-y: auto !important;
}

.s-hidden{
    opacity: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;          
    min-height: 75vh;           
    width: 100vw;
    overflow-y: auto;            
    padding-top: 2rem;   
}

h1, h2{
    text-align: center;
    color: #ff1a1a;
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    font-size: clamp(5rem, 10vw, 6rem); /* responsive size from 2rem up to 6rem */
    line-height: 1.1;
    margin: 0.5em 0;
}

noscript{
    display: flex;
    flex-direction: column;
}

noscript div{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: #6a0f14;
    color: #ededed;
    font-size: 1.25em;
    font-weight: 500;
    order: -1;
}

.hidden{
    overflow: hidden !important;
    display: none !important;
    x: 999999;
    y: 999999;
    height: 1px;
    width: 1px;
    font-size: 1px !important;
    color: transparent !important;

}

.b-box{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
}

.change{
    background-color: #6a0f14;
    color: #ededed;
    font-family: 'Mozilla Text', sans-serif;
    transition: 0.2s ease;
    border-radius: 0px;
    border-width: 0px;
    cursor: pointer;
}

.change:focus{
    background-color: #6a0f14;
    color: #ededed;
    border-radius: 1px;
    border-width: 1px;
    border-color: #ff1a1a;
}

.change:hover,
.change:hover::after{
    background-color: #450b0e;
    color: #ededed;
    border-radius: 0px;
    border-width: 0px;
}

.change:active{
    background-color: #450b0e !important;
    color: #ededed;
    border-radius: 0px;
    border-width: 0px;
}

.d-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    padding: 0 1rem;
    margin: 0 auto;
    height: auto;
    gap: 1rem;
}

.d-box form {
    margin-top: 1rem;
    align-self: flex-start;
}

.disclaimer p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: left;
    margin: 0 auto;
    line-height: 1.5;
    max-width: 600px;
}

.disclaimer strong{
    font-weight: 900;
}

.disclaimer a{
    color: white;
    transition: 0.2s ease;
}

.disclaimer a:hover{
    color: rgb(175, 175, 175);
}

.disclaimer span{
    color: #ff1a1a;
}

#home{
    width: 20vw;
    text-decoration: underline;
}

.t-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    padding: 0 1rem;
    margin: 0 auto;
    height: auto;
    gap: 1rem;
}


.skip {
    position: fixed;
    bottom: 1rem;      /* distance from bottom */
    right: 1rem;       /* distance from right */
    font-family: 'Mozilla Text', sans-serif;
    z-index: 1000;     /* make sure it's above most content */
    background-color: transparent;  /* example background */
    color: #525252;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #525252;
    cursor: pointer;
    transition: 0.2s ease;
}

.skip:hover,
.skip:active,
.skip:hover::after{
    background-color: #ededed !important;
    color: #191919 !important;
}

.skip:focus{
    background-color: #ededed;
    color: #191919;
}
